.leftArrow{
    position: absolute;
    top: 50%;
    color: black;
    left: 1px;
    transform: translate(0, -50);
    font-size: 5vh;
    z-index: 1;
    cursor: pointer;
}

.rightArrow{
    position: absolute;
    top: 50%;
    color: black;
    right: 1px;
    transform: translate(0, -50);
    font-size: 5vh;
    z-index: 1;
    cursor: pointer;
}

.carouselPics{
    border: thin solid gray;
    border-radius: 25px;
    position: relative;
    height: 40vh;
    width: 40vw;
    margin: 0 auto;
}

.picture{
    width: 100%;
    height: 100%;
    object-fit: contain;
}