.footerDiv{
    width: 100%; 
    margin-bottom: 2.5%; 
}
.linksDiv{
    margin: 0 auto;
    width: 50vw;
}

.footerLogoLinks{
    height: 4vw;
    width: 4vw;
    margin-left: 20%;
    margin-top: 0.5%; 
}

@media only screen and (max-width: 600px) {
    .footerLogoLinks{
        height: 12%;
        width: 12%;
    }
}