.homeDiv{
    width: 50vw;
    text-align: center;
    margin: 2.5% auto;
}

.tools{
    height: 5vw;
    width: 5vw;
}

@media only screen and (max-width: 600px) {
    .homeDiv{
        width: 80%;
    }
}
