.homeDiv{
    width: 50vw;
    text-align: center;
    margin: 0 auto;
}

.tools{
    height: 5vw;
    width: 5vw;
}

/* .profilePic{
    height: 10vw;
    width: 10vw;
    background-image: url('/public/assets/Me.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
} */