nav{
    width: 100%;
    text-align: right;
}

.nameText{
    position: absolute;
    left: 1em;
    font-size: xx-large;
    font-weight: 800;
}

ul {
    list-style-type: none;
    display: inline-flex;  
}

li {
    padding-right: 1em;;
}

@media only screen and (max-width: 600px) {
    .nameText{
        font-size: medium;
        position: absolute;
        left: 1em;
        top: 0.85em;
    }
}
