.projectsDiv{
    text-align:justify;
    margin: 2.5% auto;
    height: 90%;
    width: 50vw;
}

.project{
    height: 25%;
    width: 100%;
    margin: 5% 0;
}

.projectTop{
    position: relative;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
}

.projectBottom {
    position: relative;
    width: 50vw;
    margin: 0 auto;
}

.projectBottom ul{
    display: block;
    text-align: center;
}

.carousel{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .projectsDiv{
        width: 80%;
    }

    .project {
        width: 100%;
    }

    .projectTop{
        width: 90%;
    }

    .projectBottom {
        width: 90%;
    }


}


